// break point
$smallIphone: 320px;
$minIphone: 600px;
$maxIphone: 840px;
$minTablet: $maxIphone + 1;
$maxTablet: 1200px;

// color variable
$white: #fff;
$lightRed: #ff365c;
$red: #d52316;
$bgC: #3a112f;
$opC: rgba($color:$white, $alpha: 0);

$underColor:null;