@import "../common/mixin";
@import "../common/variable";

.artist {
    @include position($pos:relative);
    @include image($url:"../images/main/swirls-1.svg",$pos:center center,$size:cover,$rep:no-repeat);
    @include title($color:red,$width:230px,$height:8px);
    background-color: $bgC;
    width: 100vw;
    height: 100vh;
    padding: 80px 0 150px;

    .artist__grid { 
        @include grid($tCol:repeat(3,1fr),$gap:15px);
        @include position($pos:relative,$z:1500);
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
    }
}
.artist__card {
    position: relative;
    box-shadow: 7px 15px 10px 2px rgba($color: $white, $alpha: 0.1);
    &:nth-child(even) {
        margin-top: 40px;
    }
    &:nth-child(odd) {
        margin-bottom: 40px;
    }
    figure {
        height: 310px;
        background-color: $bgC;
        opacity: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::after {
            @include position($pos:absolute,$t:0,$l:0,$z:100);
            content: "";
            display: inline-block;
            background-color: $red;
            width: 100%;
            height: 310px;
            opacity: 0;
            mix-blend-mode: multiply;
            transition: 0.4s;
        }
    }
    .artist__card__title {
        @include position($pos:relative,$z:1500);
        @include font($size:1.188rem,$weight:700);
        width: 100%;
        height: 90px;
        background-color: $white;
        h4 {
            @include flex($jusCon:center,$aliItem:center);
            width: 100%;
            height: 100%;
            text-transform: uppercase;
            color: $red;
        }
        .artist__card__link {
            @include flex($jusCon:center,$aliItem:center);
            @include position($pos:absolute,$t:0);
            font-size: 0.938rem;
            width: 100%;
            height: 100%;
            color: $white;
            opacity: 0;
            transition: 0.3s;
            &::after{
                @include image($url:"../images/icon/button.svg",$pos:center center,$size:contain,$rep:no-repeat);
                content: "";
                width: 18px;
                height: 18px;
                margin-left:5px;
            }
        }
    }
    &:hover {
        figure {
            &::after {
                opacity: 1;
            }
        }
        .artist__card__title {
            background-color: $red;
            .artist__card__link {
                opacity: 1;
            }
        }
    }

}
