@import "../common/mixin";
@import "../common/variable";

.banner {
    background-color: $bgC;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow-x: hidden;
    .banner__left__roses{
        @include position($pos:absolute,$l:calc(50% - 665px),$t:662px,$z:1000);
    }
    .banner__right__roses{
        @include position($pos:absolute,$r:calc(50% - 614.5px),$t:657px,$z:1000);
    }
    .banner__bg {
        @include image($url:"../images/main/background.jpg",$pos:center center,$size:cover);
        width: 100%;
        height: 100%;
        transition-timing-function: ease;
        -webkit-transition-timing-function: ease;
        transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
        transition-property: filter,-webkit-filter;
        -webkit-transition-property: -webkit-filter;
        filter: blur(2vw) brightness(110%) contrast(1.2);
        -webkit-filter: blur(2vw) brightness(110%) contrast(1.2);
    }
    .banner__bg--loaded {
        filter: none;
        -webkit-filter: none;
    }
    .banner__img {
        @include image($url:"../images/main/skulls-roses.svg",$pos:center bottom,$size:100%,$rep:no-repeat);
        @include position($pos:absolute,$b:-100px,$l:calc(50% - 1110px));
        width: 2220px;
        height: 430px;
        overflow: hidden;
    }
}
.banner__container {
    @include flex($jusCon:center,$aliItem:center);
    @include position($pos:absolute,$t:0,$l:50%);
    max-width: 1000px;
    width: 90%;
    height: 100%;
    transform: translateX(-50%);
    .banner__content {
        @include font($align:center,$color:$white,$transform:uppercase);
        width: 100%;
        max-width: 640px;
        .banner__content__title {
            @include font($size:2.625rem,$height:2.625rem,$letter:1.3px,$weight:400,$color:$opC);
            -webkit-text-stroke: 1.5px $white;
            margin-bottom: 30px;
        }
        .banner__content__copy {
            @include font($size:1.25rem,$weight:300);
            margin-bottom: 20px;
        }
        .banner__content__link {
            @include font($size:1.125rem,$weight:600);
            cursor: pointer;
            a {
                @include flex($dir:row,$jusCon:center,$aliItem:center);
                transition: 0.3s;
                color: $white;
                &::before {
                    @include image($url:"../images/icon/button.svg",$pos:center center,$rep:no-repeat,$size:contain);
                    content: "";
                    display: inline-block;
                    width: 19px;
                    height: 19px;
                    margin-right: 10px;
                }
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

}
