@import "../common/mixin";
@import "../common/variable";
@import "../common/animation";

.banner {
    background-color: $bgC;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow-x: hidden;

    .banner__bg {
        @include image($url:"../images/main/background.jpg",$pos:center center,$size:cover);
        width: 100%;
        height: 100%;
        transition-timing-function: ease;
        -webkit-transition-timing-function: ease;
        transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
        transition-property: filter,-webkit-filter;
        -webkit-transition-property: -webkit-filter;
        filter: blur(2vw) brightness(110%) contrast(1.2);
        -webkit-filter: blur(2vw) brightness(110%) contrast(1.2);
        &::after,
        &::before {
            content: "";
            animation: fadein 0.5s;
            animation-delay: 1.5s;
        }

        &::before {
            @include image($url:"../images/common/roses-left.svg",$size:contain,$rep:no-repeat);
            @include position($pos:absolute,$l:calc(50% - 648px),$t:651px,$z:1000);
            content: "";
            content: "";
            width: 420px;
            height: 485px;
        }
        &::after {
            @include image($url:"../images/common/roses-right.svg",$size:contain,$rep:no-repeat);
            @include position($pos:absolute,$r:calc(50% - 598.5px),$t:651px,$z:1000);
            content: "";
            width: 370px;
            height: 265px;
        }
    }
    .banner__bg--loaded {
        filter: none;
        -webkit-filter: none;
    }
    .banner__img {
        @include image($url:"../images/main/skulls-roses.svg",$pos:center bottom,$size:100%,$rep:no-repeat);
        @include position($pos:absolute,$b:-100px,$l:calc(50% - 1110px));
        width: 2220px;
        height: 430px;
        overflow: hidden;

    }
}
.banner__container {
    @include flex($jusCon:center,$aliItem:center);
    @include position($pos:absolute,$t:0,$l:50%);
    max-width: 1000px;
    width: 90%;
    height: 100%;
    transform: translateX(-50%);
    .banner__content {
        @include font($align:center,$color:$white,$transform:uppercase);
        width: 100%;
        max-width: 640px;
        .banner__content__title {
            @include font($size:2.625rem,$height:2.625rem,$letter:1.3px,$weight:400,$color:rgba($color:$white,$alpha:0));
            -webkit-text-stroke: 1.5px $white;
            margin-bottom: 30px;
        }
        .banner__content__copy {
            @include font($size:1.25rem,$weight:300);
            margin-bottom: 20px;
        }
        .banner__content__link {
            @include font($size:1.125rem,$weight:600);
            cursor: pointer;
            a {
                @include flex($dir:row,$jusCon:center,$aliItem:center);
                transition: 0.3s;
                color: $white;
                &::before {
                    @include image($url:"../images/icon/button.svg",$pos:center center,$rep:no-repeat,$size:contain);
                    content: "";
                    display: inline-block;
                    width: 19px;
                    height: 19px;
                    margin-right: 10px;
                }
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

}
