@import "../common/mixin";
@import "../common/variable";

.lineup{
    @include title($color:red, $width:230px, $height:8px);
    @include position($pos:relative,$z:500);
    width: 100vw;
    height: auto;
    background-color: $bgC;
    padding: 80px 0 150px;

    .lineup__grid {
        @include responsive("iphone") {
            grid-template-columns: 1fr;
            width: 90%;
        }
        @include responsive("iphone-l") {
            grid-template-columns: 1fr 1fr;
            width: 90%;
        }
        @include grid($tCol:repeat(3,1fr),$gap:15px);
        @include position($pos:relative,$z:1500);
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
    }    
}
.lineup__card {
    position: relative;
    box-shadow: 7px 15px 10px 2px rgba($color: $white, $alpha: 0.1);
    figure {
        height: 310px;
        background-color: $bgC;
        opacity: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::after {
            @include position($pos:absolute,$t:0,$l:0,$z:100);
            content: "";
            display: inline-block;
            background-color: $red;
            width: 100%;
            height: 310px;
            opacity: 0;
            mix-blend-mode: multiply;
            transition: 0.4s;
        }
    }
    .artist__card__title {
        @include position($pos:relative,$z:1500);
        @include font($size:1.188rem,$weight:700,$align:center,$height:1.438rem);
        width: 100%;
        height: 90px;
        background-color: $white;
        padding: 10px 60px;
        h4 {
            @include flex($jusCon:center,$aliItem:center);
            @include font($color:$red,$transform:uppercase);
            width: 100%;
            height: 100%;
        }
        .artist__card__link {
            @include flex($jusCon:center,$aliItem:center);
            @include position($pos:absolute,$t:0,$l:0);
            @include font($size:0.938rem, $color:$white);
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: 0.3s;
            &::after {
                @include image($url:"../images/icon/button.svg",$pos:center center,$size:contain,$rep:no-repeat);
                content: "";
                width: 18px;
                height: 18px;
                margin-left: 5px;
            }
        }
    }
    &:hover {
        figure {
            &::after {
                opacity: 1;
            }
        }
        .artist__card__title {
            background-color: $red;
            .artist__card__link {
                opacity: 1;
            }
        }
    }
}