@import "../common/mixin";
@import "../common/variable";

#lodging__nav--item{
    a{
        color: $red;
    }
}
.lodging{
    @include link;
    width: 100vw;
    height: auto;
    .lodging__top{
        @include title($color:red,$width:230px,$height:8px);
        @include position($pos:relative,$z:500);
        background-color: $bgC;
        padding-top: 80px;
        .section__title{
            margin-bottom: 0;
        }
        .lodging__title{
            width: 90%;
            max-width: 1000px;
            text-transform: none;
            .lodging__title__container{
                @include flex($dir:column,$jusCon:center,$aliItem:center);
                @include link;
                max-width: 620px;
                margin: 0 auto;
                h2{
                    @include font($size:2.188rem,$transform:uppercase);
                }
                p{
                    @include responsive("iphone"){
                        font-size: 0.938rem;
                    }
                    font-size: 1.125rem;
                    margin-bottom: 40px;
                }
            }
        }
    }
    .lodging__section{
        @include title($color:black,$width:60px,$height:8px);
        padding: 120px 0;
        width: 100vw;
        height: auto;
        [class*=__container]{
            @include responsive("iphone"){
                grid-template-columns: 1fr;
                grid-template-rows: min-content min-content;
                width: 90%
            }
            @include responsive("iphone-l"){
                grid-template-columns: 1fr;
                grid-template-rows: min-content min-content;
                width: 80%;
            }
            @include position($pos:relative,$z:3000);
            @include grid($tCol:repeat(2,1fr),$gap:75px,$jusCon:flex-start,$aliItem:center);
            width: 90%;
            max-width:1000px;
            height: 100%;
            margin: 0 auto;
            padding: 80px 0;
        }
        .section__title{
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            padding: 40px 0;
        }
        .lodging__title__container{
            @include flex($dir:column,$jusCon:center,$aliItem:flex-start);
            h2{
                @include font($size:2.188rem,$height:2.5rem,$letter:3px,$align:left);
                align-items: flex-start;
            }
            p{
                text-align: left;
                margin-bottom: 30px;
                padding: 0;
                strong{
                    font-weight: 800;
                }
                em{
                    font-style: italic;
                }
                a{
                    color: $white;
                    transition: 0.2s;
                    border-bottom: 2.5px solid rgba($color: $white, $alpha: 0.7);
                    &:hover{
                        border-bottom: 3.5px solid rgba($color: $white, $alpha: 0.7);
                    }
                }
            }
        }
    }
    .lodging__wine-merlot{
        background: linear-gradient(0deg, #801b2e 0, #4e2944 80%, #3a112f);
        padding-bottom: 200px;
    }
    .lodging__wine-shade{
        background-color: #801b2e;
        padding-bottom: 200px;
    }
    [class^=lodging__img]{
        @include responsive("iphone"){
            height: 50px;
        }
        @include responsive("iphone-l"){
            height: 200px;
        }
        figure{
            @include responsive("iphone"){
                width: 300px;
                height: 300px;
            }
            width: 400px;
            height: 400px;

            img{
                border-radius: 25px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .lodging__img_right{
        figure{
            &:first-child{
                @include responsive("iphone"){
                    @include position($pos:absolute,$b:-200px,$r:-50px);
                }
                @include responsive("iphone-l"){
                    @include position($pos:absolute,$b:-100px,$r:-50px);
                }
                @include position($pos:absolute,$r:10px,$b:250px,$z:1000);
            }
            &:last-child{
                @include responsive("iphone"){
                    @include position($pos:absolute,$b:-250px,$r:200px);
                }
                @include responsive("iphone-l"){
                    @include position($pos:absolute,$b:-180px,$r:280px);
                }
                @include position($pos:absolute,$r:-190px,$b:100px,$z:500);
            }
        }
    }
    .lodging__img_left{
        @include responsive("iphone"){
            order: 2;
        }
        @include responsive("iphone-l"){
            order: 2;
        }
        figure{
            &:first-child{
                @include responsive("iphone"){
                    @include position($pos:absolute,$t:auto,$b:-200px,$l:auto,$r:-50px);
                }
                @include responsive("iphone-l"){
                    @include position($pos:absolute,$t:auto,$b:-120px,$l:auto,$r:-50px);
                }
                @include position($pos:absolute,$l:10px,$t:-120px,$z:1000);
            }
            &:last-child{
                @include responsive("iphone"){
                    @include position($pos:absolute,$t:auto,$b:-270px,$l:auto,$r:200px)
                }
                @include responsive("iphone-l"){
                    @include position($pos:absolute,$t:auto,$b:-200px,$l:20px);
                }
                @include position($pos:absolute,$l:-190px,$t:200px,$z:500);
            }
        }
    }
}