@import "../common/mixin";
@import "../common/variable";

.newslatter{
    width: 100vw;
    padding: 80px 0;
    min-height: 430px;
    background-color: $bgC;
    position: relative;
    // &::before{
    //     @include image($url:"../images/common/sign-up-left.svg",$pos:center center,$size:contain,$rep:no-repeat);
    //     content: "";
    //     width: 1040px;
    //     height: 590px;
    //     display: inline-block;
    //     position: absolute;
    // }
    .newslatter__signup{
        @include flex($dir:column,$jusCon:center,$aliItem:center);
        @include position($pos:absolute,$l:50%,$t:-170px,$z:2000);
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        transform: translateX(-50%);
        figure{
            @include image($url:"../images/common/skull.png",$pos:center center,$size:contain,$rep:no-repeat);
            width: 355px;
            height: 355px;
        }
        h3{
            @include font($size:1.75rem,$color:$opC,$letter:1.5px,$transform:uppercase);
            -webkit-text-stroke: 1px $white;
        }
        p{
            @include font($size:1rem,$color:$white,$weight:500);
            padding: 20px 0;
        }
        form{
            @include flex($dir:column,$jusCon:center,$aliItem:center);
            label{
                visibility: hidden;
                position: absolute;
            }
            input{
                width: 380px;
                height: 50px;
                margin-bottom: 30px;
                padding: 10px 20px;
                text-align: center;
                &::placeholder{
                    @include font($size:13px,$weight:600,$letter:0.8px);
                }
            }
            button{
                @include flex($jusCon:center,$aliItem:center);
                @include font($size:1.063rem,$color:$white,$weight:600);
                transition: 0.3s;
                &::before{
                    @include image($url:"../images/icon/button.svg",$pos:center center,$rep:no-repeat,$size:contain);
                    content: "";
                    display: inline-block;
                    width: 19px;
                    height: 19px;
                    margin-right: 10px;
                }
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}