@import "../common/mixin";
@import "../common/variable";
@import "../common/animation";

.newslatter {
    position: relative;
    width: 100vw;
    padding: 80px 0;
    min-height: 430px;
    background-color: $bgC;
    &::before {
        @include image($url:"../images/common/sign-up-left.svg",$pos:center center,$size:contain,$rep:no-repeat);
        @include position($pos:absolute,$t:-30px,$l:calc(50% - 670px),$z:500);
        content: "";
        width: 1040px;
        height: 590px;
    }
    &::after {
        @include image($url:"../images/common/sign-up-right.svg",$pos:center center,$size:contain,$rep:no-repeat);
        @include position($pos:absolute,$t:-30px,$r:calc(50% - 670px),$z:500);
        content: "";
        width: 1040px;
        height: 590px;
    }
    .newslatter__signup {
        @include flex($dir:column,$jusCon:center,$aliItem:center);
        @include position($pos:absolute,$l:50%,$t:-170px,$z:5000);
        width: 90%;
        max-width: 1000px;
        transform: translateX(-50%);
        text-align: center;
        .newslatter__signup--skull {
            @include image($url:"../images/common/skull.png",$pos:center center,$size:contain,$rep:no-repeat);
            width: 355px;
            height: 355px;
        }
        h3 {
            @include font($size:1.75rem,$color:$opC,$letter:1.5px,$transform:uppercase);
            -webkit-text-stroke: 1px $white;
        }
        p {
            @include font($size:1rem,$color:$white,$weight:500);
            padding: 20px 0;
        }
        form {
            @include flex($dir:column,$jusCon:center,$aliItem:center);
            @include link;
            label {
                position: absolute;
                visibility: hidden;
            }
            input {
                width: 380px;
                height: 50px;
                margin-bottom: 30px;
                padding: 10px 20px;
                text-align: center;
                &::placeholder {
                    @include font($size:13px,$weight:600,$letter:0.8px);
                }
            }
        }
    }
}
