@import "../common/mixin";
@import "../common/variable";

.passes{
    @include position($pos:relative,$z:500);
    @include title($color:red,$width:237px,$height:8px);
    @include link;
    width: 100vw;
    height: auto;
    padding: 80px 0 200px;
    background:linear-gradient(0deg,#801b2e 0,#4e2944 80%,#3a112f);
    
    .passes__title{
        width: 90%;
        max-width: 1000px;
        text-transform: none;
        .passes__title__container{
            @include flex($dir:column,$jusCon:center,$aliItem:center);
            @include link;
            max-width: 620px;
            margin: 0 auto;
            h2{
                @include font($size:2.188rem,$transform:uppercase);
            }
            p{
                @include responsive("iphone"){
                    font-size: 0.938rem;
                }
                font-size: 1.125rem;
                margin-bottom: 40px;
            }
        }
    }
}
.passes__grid{
    @include responsive("iphone"){
        grid-template-columns: 1fr;
    }
    @include responsive("iphone-l"){
        grid-template-columns: 1fr;
    }
    @include grid($tCol:repeat(2,1fr),$gap:20px);
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    .passes__card{
        position: relative;
        background-color: $white;
        border-radius: 30px;
        padding: 60px 50px 80px 50px;
        &:last-child{
            @include responsive("iphone"){
                grid-column: 1/2;
            }
            @include responsive("iphone-l"){
                grid-column: 1/2;
            }
            grid-column:1/3;
        }
        h3,h4{
            @include font($size:1.875rem,$weight:500,$height:2.125rem,$transform:uppercase);
        }
        h4{
            color: $lightRed;
            padding-bottom: 20px;
        }
        em{
            @include font($transform:none,$style:italic);
        }
        p{
            line-height: 23px;
        }
        ul{
            padding: 40px 0 50px 0;
            li{
                position: relative;             
                margin-top: 15px;
                line-height: 20px;
                padding-left: 25px;      
                &:first-child{
                    margin: 0;
                }
                &::before{
                    @include image($url:"../images/icon/star.svg",$pos:center center,$size:contain,$rep:no-repeat);
                    @include position($pos:absolute,$l:0,$t:4px);
                    content: "";
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                }
            }
        }
        strong{
            @include font($weight:700,$color:$lightRed);
            display: inline-block;
            margin-bottom: 30px;
        }
        &:nth-child(4){
            strong{
                margin-top: 30px;
            }
        }
        &:nth-child(4) .passes__card__link{
            background-color: $bgC;
        }
        &:last-child .passes__card__link{
            background-color: $bgC;
        }
    }
    .passes__card__link{
        @include position($pos:absolute,$b:0,$l:0);
        padding: 25px 50px;
        width: 100%;
        background-color: $lightRed;
        border-radius: 0 0 25px 25px;
        a{
            justify-content: flex-start;
        }
    }
}