@import "../common/mixin";
@import "../common/variable";

#schedule__nav--item{
    a{
        color: $red;
    }
}

.schedule{
    @include position($pos:relative,$z:500);
    @include title($color:red,$width:230px,$height:8px);
    width: 100vw;
    height: auto;
    padding: 80px 0 180px;
    background-color: $bgC;

    .section__title{
        margin-bottom: 10px;
    }
    p{
        @include font($size:1.125rem, $color:$white,$align:center);
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
    }
}