@import "../common/mixin";
@import "../common/variable";

#sponsors__nav--item{
    a{
        color: $red;
    }
}
.sponsors{
    position: relative;
    background-color: $white;
    width: 100vw;
    height: auto;
    padding: 80px 140px 180px;
    .sponsors__container{
        @include position($pos:relative,$z:5400);
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .sponsors__title{
        @include title($color:red,$width:230px,$height:8px);
        max-width: 600px;
        margin: 0 auto;
        .section__title h2{
            -webkit-text-stroke: 1.5px $black;
        }
    }
    .sponsors__content{
        @include flex($wrap:wrap);
        padding-bottom: 80px;
        figure{
            padding: 25px;
            width: 300px;
            height: 170px;
            margin: 0 auto;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .sponsors__link{
        @include flex($jusCon:center);
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        .sponsors__link__container{
            width: 100%;
            max-width: 300px;
            display: inline-block;
            h2{
                @include font($size:1.563rem, $color:rgba($color:$white,$alpha:0),$height:30px,$letter:1.5px,$align:center,$transform:uppercase);
                -webkit-text-stroke: 1px $black;
                padding-bottom: 30px;
            }
            .sponsors__link{
                @include flex($jusCon:center);
                @include font($size:1.063rem,$weight:500,$color:$red);
                transition: 0.3s;
                .sponsors__link__color{
                    width: 17px;
                    height: 17px;
                    margin-right: 8px;
                    .sponsors__link__icon{
                        width: 18px;
                        height: 18px;
                        display: inline-block;
                        background-color: currentColor;
                        mask-size: contain;
                        mask-image: url("../images/icon/button.svg");
                        mask-repeat: no-repeat;                        
                    }
                }
                &:hover{
                    opacity: 0.7;
                }
            }
        } 
    }
}