@import "../common/mixin";
@import "../common/variable";
@import "../common/animation";
@import "./hamburger";
.side{
    @include position($pos:fixed,$t:0,$l:0,$z:-1000);
    background-color: $bgC;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: 0.3s;

    .side--nav{
        @include flex($dir:column,$jusCon:center,$aliItem:center);
        padding: 30px 0;
        width: 100%;
        height: 100%;
        .side__logo{
            margin: 0 auto;
            margin-bottom: 50px;
            a { 
                @include image($url:"../images/logo/logo@2x.png",$pos:center center,$size:contain,$rep:no-repeat);
                display: block;
                width: 180px;
                height: 80px;
                margin: 0 auto;
            }  
        } 
        .side__nav--item{
            background-color: $white;
            padding: 4.5px 10.5px;
            transition: 0.3s;
            a{
                color: $red;
            }
            &:hover{
                background-color: $red;
                a{
                    color: $white;
                }
            }
        }
        li{
            height: 100%;
            margin-bottom: 30px;
            animation-fill-mode: backwards;
            a{
                @include font($size:1.094rem,$transform:uppercase,$color:$white,$weight:600);
                display: block;
                padding: 11px;
                transition: 0.4s;
                &:hover{
                    color: $red;
                }
            }
        }
    }
}
.hamburger{
    @include position($pos:fixed,$b:20px,$r:30px);
    opacity: 0;
    width: 65px;
    height: 65px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.2);
    transition: 0.3s;

    .hamburger-inner{
        background-color: $red;
        &,
        &::before,
        &::after{
            background-color: $red;
        }
    }
}
.hamburger.is-active{
    .hamburger-inner{
        background-color: $white;
        &,
        &::before,
        &::after{
            background-color: $white;
        }
    }
}