//- MainPage variable
-mainTitle = "Skull and Roses - April 8-11, Celebrating The Music and Community of the Grateful Dead";
-mainDescription = "Skull & Roses is a multi-day festival which celebrates the music and community that formed around iconic American rock band the Grateful Dead. It returns for its 4th and best installment so far at the holy grail of the West Coast Grateful Dead scene, the Ventura County Fairgrounds (California), from April 2-5, 2020.";

-artistLineup = ["melvin seals & jgb", "jackie greene", "keller williams grateful grass", "circles around the sun", "ghost light", "grateful shred"];
-artistLineupLink = ["#","#","#","#","#","#"];

-purchaseH2 = "truckin' to ventura";
-purchaseP = "Skull & Roses 2020 will take place over 3.5 memorable days of music, experiences, camping, and community at historic Ventura County Fairgrounds where The Grateful Dead played 11 famous shows.";
-purchaseA = "Buy Passes";

-purchase3PASS = ["Access 30 + Live Music Performances","Food from a variety of food vendors and restaurants available for purchase.","Festival access to bars, concessions, official band and festival merch, and more!","Opportunity to purchase Camping Passes, sold separately after you purchase any S&R pass.","Ability to purchase Add On's like Hotel and Camping Packages, Tickets to Thursday Night Kichoff Party with Stu Allen & Mars Hotel and Rooster Conspiracy."];
-purchase35PASS = ["Complimentary access to Thursday Night Kickoff Party.","Access to our S&R Lounge Tent inside the arenea","Pit Access and VIP Viewing for all Live Performances","Opportunity to attend intimate performances, interviews with musicians, and more!","Access to private cash bars","Air-conditioned restrooms","Complimentary Bottled Water","Full-service bar"];
-purchaseKickoff = ["Acces to Thursday Evening Kickoff Party featuring a live performances by Stu Allen & Mars Hotel and Rooster Conspiracy","Full-Service cash bar"];
-purchaseAddOn = ["3 Nights (Thursday through Sunday or Friday through Monday) at The Crowne Plaza walking distance from the festival grounds","2 Nights (Friday and Saturday) at The Ventura Beach Marriott","RV or Tent Camping just three minutes from Ventura County Fairgrounds"];

//- PassesPage variable
-passesTitle = "Pick Your Pass - Choose 3 or 3.5 Day Tickets with a range of add-ons";
-passesDescription = "Choose from GA or GA Plus and add on Camping or Hotels before completing your purchase! 3 Day passes available soon.";

-passesH2 = "pick your pass";
-passesP = "3-Day tickets are on sale NOW for Skull and Roses 2020! Choose from GA or GA Plus add on Camping or Hotels before completing your purchase!";
-passesA = "Get your Passes!";

//- LineupPage variable
-lineupTitle = "Meet Our 2020 Line Up - Celebrating The Music of the Grateful Dead";
-lineupDescription = "Meet our line up! Billy & The Kids, Oteil & Friends, Voodoo Head and many, many more - visit our line-up page to see in full.";

//- SchedulePage variable
-scheduleTitle = "Skull & Roses 2020 Schedule - April 2-5, 2020 Ventura County, CA";
-scheduleDescription = "Schedule Will Be Announced At A Later Date...Check Back Soon!";

//- ExperiencePage variable
-experienceTitle = "The Full Skull & Roses Experience";
-experienceDescription = "Find out more about the music, food and drink, lounges, vendors, and perch available from the the festival. Learn more about Backline! and our silent auction with our friends at Gocharity.";

-experienceMusicTitle = "the music";
-experienceMusicContent = "Skull & Roses 2020 will feature performances from <strong>Billy and the kids</strong><em>(Bill Kreutzmann, Tom Hamilton, Aaron Magner, and Reed Mathis),</em><strong>Oteil & Friends</strong><em> (Oteil Burbridge, Eric Krasno, JM Kimock, Jason Crosby, Lamer Williams Jr.),</em><strong> Voodoo Dead</strong><em> (Steve Kimock, Jeff Chimenti, Jackie Greene, George Porter JR., and JM Kimock),</em> <strong> Melvin Seals & JGB, Jackie Greene, Keller Williams' Grateful Grass, Circles Around The Sun , Ghost Light, Grateful Shred, David Nelson Band, Stu Allen & Mars Hotel, Midnight North</strong>and Many more. S&R features three jam-packed days with live music all day long Friday to Sunday, plus a kickoff party featuring<strong> Stu Allen & Mars Hotel</strong> and <strong>Rooster Conspiracy.</strong>";
-experienceMusicLink = "View The Full Lineup";

-experienceGATitle = "ga plus intimate performances, interviews, & more";
-experienceGAContent = `Skull & Roses <strong>GA <em> Plus </em></strong> pass holders will have exclusive opportunities throughout the weekend to attend intimate performances rare interviews, and more in Hunter's <strong>Lodge, </strong> a comfy, indoor space located just outside the arena.<br><br> <strong>GA Plus Performances Include:</strong> <br><br> <strong> Intimate Performances by</strong> Steve Kimock, Jackie Greene, John Kadlecik, Grahame Lesh & Elliot Peck, Holly Bowling Doodie Decibel System feat. Jason Crosby and Roger McNamee & more <br><br> <strong>Interbiews with</strong> Oteil Burbridge, Steve Parish, Melvin Seals, Dennis McNally, Jay Blakesberg,Roger McNamee & more. <br><br> <strong> Slideshow </strong> "Between The Dark and Light", The Grateful Dead photography by Jay Blakesberg.<br><br><strong> Learn more about GA</strong> <em> Plus by <a href="https://www.eventbrite.com/e/skull-roses-festival-tickets-79492605523"><strong>Clicking Here</strong> and be sure to <strong>grab your GA Plus passes for Skull & Roses</strong> -- they will sell out! </em>`;
-experienceGALink = "Buy Your GA Plus Passes!";

-experienceFoodTitle = "food and drink";
-experienceFoodContent = "The Skull & Roses menu of offerings are reflective of the vibrant culinary scene of Ventura and beyound. S&R Vendors include local breweries and restauranteurs. Check back in February for 2020 Food and Beverage options!";

-experienceLoungeTitle = "high time lounge";
-experienceLoungeContent = "Our GA <em>Plus</em> guests have access to their very own lounge space right inside the arena, including sun-sheltered lounge seating with views of both S&R stages, VIP cash-bar access, air-conditioned restrooms, and complimentary water. The High Time Lounge is a great way to enjoy Skull and Roses with your crew.";

-experienceGardenTitle = "beer garden featuring flying embers, relix, headcount, and the exhibit";
-experienceGardenContent = "Located towards the back of the arena at Skull & Roses, but with a great view of the big stage is the <strong>S&R Beer Garden</strong> featuring our festival bars, activations from <strong> <em> Flying Embers Oragnic Hard Kombucha, Relix, HeadCount,</em></strong> and <strong><em>The Exhibit</em></strong> where Jay Blackesberg will feature rare photos of the Grateful Dead, Jerry Garcia and more! <br><br> Crack open a cold one, enjoy some festival eats at our picnic tables, and take in all the action!";

-experienceStreetTitle = "shakedown street";
-experienceStreetContent = "There's plenty shakin' on shakedown street. Explore vendors who have traveled from near and far to join us at Skull & Roses. Shakedown Street is located just a few steps away from all the action outside the main arena, you just gotta poke around.";

-experienceMerchTitle = "merch";
-experienceMerchContent = "Explore the full Merch line for Skull & Roses 2020 at the Merch Tent and all of the gear from the bands you love. The Merch Tent opens right before gates each day.";

-experienceBenefitTitle = "slient auction benefiting backline";
-experienceBenefitContent = "<strong>Backline</strong> is the hub for music industry professionals and their families to quickly and easily access mental health and wellness resources. Skull & Roses is thrilled to support Backline through a Silent Auction with our friends at <strong>Go Charity.</strong> Stop by the Backline tent located inside the arena to support this incredible cause.";
-experienceBenefitLink = "Learn More About Backline!";

-experienceLockersTitle = "mobile charging lockers";
-experienceLockersContent = "Why stress about losing your ID, dancing with a full backpack, or carrying around new merch? Keep your items safe and secure throughout the weekend - and your phone fully charged - by renting a locker at Skull & Roses!";
-experienceLockersLink = "Reserve Your Locker";

//- theme color
-themeColor = "#3a112f";