//- MainPage variable
-mainTitle = "Skull and Roses - April 8-11, Celebrating The Music and Community of the Grateful Dead";
-mainDescription = "Skull & Roses is a multi-day festival which celebrates the music and community that formed around iconic American rock band the Grateful Dead. It returns for its 4th and best installment so far at the holy grail of the West Coast Grateful Dead scene, the Ventura County Fairgrounds (California), from April 2-5, 2020.";

//- theme color
-themeColor = "#3a112f";

