//- MainPage variable
-mainTitle = "Skull and Roses - April 8-11, Celebrating The Music and Community of the Grateful Dead";
-mainDescription = "Skull & Roses is a multi-day festival which celebrates the music and community that formed around iconic American rock band the Grateful Dead. It returns for its 4th and best installment so far at the holy grail of the West Coast Grateful Dead scene, the Ventura County Fairgrounds (California), from April 2-5, 2020.";

-artistLineup = ["melvin seals & jgb", "jackie greene", "keller williams grateful grass", "circles around the sun", "ghost light", "grateful shred"];
-artistLineupLink = ["#","#","#","#","#","#"];

-purchaseH2 = "truckin' to ventura";
-purchaseP = "Skull & Roses 2020 will take place over 3.5 memorable days of music, experiences, camping, and community at historic Ventura County Fairgrounds where The Grateful Dead played 11 famous shows.";
-purchaseA = "Buy Passes";

-purchase3PASS = ["Access 30 + Live Music Performances","Food from a variety of food vendors and restaurants available for purchase.","Festival access to bars, concessions, official band and festival merch, and more!","Opportunity to purchase Camping Passes, sold separately after you purchase any S&R pass.","Ability to purchase Add On's like Hotel and Camping Packages, Tickets to Thursday Night Kichoff Party with Stu Allen & Mars Hotel and Rooster Conspiracy."];
-purchase35PASS = ["Complimentary access to Thursday Night Kickoff Party.","Access to our S&R Lounge Tent inside the arenea","Pit Access and VIP Viewing for all Live Performances","Opportunity to attend intimate performances, interviews with musicians, and more!","Access to private cash bars","Air-conditioned restrooms","Complimentary Bottled Water","Full-service bar"];
-purchaseKickoff = ["Acces to Thursday Evening Kickoff Party featuring a live performances by Stu Allen & Mars Hotel and Rooster Conspiracy","Full-Service cash bar"];
-purchaseAddOn = ["3 Nights (Thursday through Sunday or Friday through Monday) at The Crowne Plaza walking distance from the festival grounds","2 Nights (Friday and Saturday) at The Ventura Beach Marriott","RV or Tent Camping just three minutes from Ventura County Fairgrounds"];

//- PassesPage variable
-passesTitle = "Pick Your Pass - Choose 3 or 3.5 Day Tickets with a range of add-ons";
-passesDescription = "Choose from GA or GA Plus and add on Camping or Hotels before completing your purchase! 3 Day passes available soon.";

-passesH2 = "pick your pass";
-passesP = "3-Day tickets are on sale NOW for Skull and Roses 2020! Choose from GA or GA Plus add on Camping or Hotels before completing your purchase!";
-passesA = "Get your Passes!";

//- LineupPage variable
-lineupTitle = "Meet Our 2020 Line Up - Celebrating The Music of the Grateful Dead";
-lineupDescription = "Meet our line up! Billy & The Kids, Oteil & Friends, Voodoo Head and many, many more - visit our line-up page to see in full.";

//- SchedulePage variable
-scheduleTitle = "Skull & Roses 2020 Schedule - April 2-5, 2020 Ventura County, CA";
-scheduleDescription = "Schedule Will Be Announced At A Later Date...Check Back Soon!";

//- theme color
-themeColor = "#3a112f";

