include ../common/mixin
include ../common/variable

section.contact
    .contact__title
        +sectionTitle("contact us for more info")
    .contact__container
        form(
            method="post"
            data-aos="fade-up"
            data-aos-duration="700"
            data-aos-delay="800"
            )
            .form__row
                label(for="form__interested") I'm interested in:
                select#form__interested(name="interested")
                    option(value="General Inquiry") General Inquiry
                    option(value="Partnering With Us") Partnering With Us
                    option(value="Sponsorship") Sponsorship
                    option(value="Becoming A Vendor") Becoming A Vendor
                    option(value="Press Inquiries") Press Inquiries
                    option(value="Volunteer") Volunteer
                    option(value="Other") Other
            .form__row
                .form__column
                    .form__message
                        label(for="form__message") My message:
                        textarea#form__message(name="message", cols="30", rows="4")
                    .form__content
                        .form__row
                            label(for="form__name") Name
                            input#form__name(type="text" name="name")
                        .form__row
                            label(for="form__telephone") Telephone
                            input#form__telephone(type="text" name="telephone")
                        .form__row
                            label(for="form__email") Email
                            input#form__email(type="email" name="email")
            .form__row
                button(type="submit") Send message