include ../common/mixin
include ../common/variable

section.experience
    .experience__top
        +sectionTitle("Skull & Roses")
        p(
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="400"
        ) Skull & Rosese is a three and a half day music festival which celebrates the
            | music and community that formed around iconic American rock band
            | The Grateful Dead.
    .experience__wine-merlot
        +detailSectionTitle("experience__title",experienceMusicTitle,experienceMusicContent,"#",experienceMusicLink)
        figure
        figure