include ../common/mixin
include ../common/variable

section.faqs
    .faqs__title
        h3 skull and roses faq's
        p You've got questions, we have answers! Explore the categories below for more information.
    ul.faqs__list
        li.accordition__item--title
            h4 festival dates and hours
            .accordition__item--content
                p Skull & Roses Festival 2020 will take place April 2-5th at Ventura County Fairgrounds in Ventura CA.
                h5 Festival Hours:
                p Thursday (Passes Sold Separately): 6 PM - 11 PM
                    br
                    | Friday: 11 AM - 12 AM
                    br
                    | Saturday: 11 AM - 12 AM
                    br
                    | Sunday: 11 AM - 7 PM
                p A full festival schedule will be released in the coming months!
        li.accordition__item--title
            h4 ga vs. ga plus
            .accordition__item--content
                p The truth is, whichever pass you pick you will have a rockin' time at Skull & Roses 2020.
                p GA pass holders will enjoy:
                ul
                    li Access to 30+ Live Music Performances
                    li Food from a variety of food vendors and restaurants available for purchase.
                    li Festival access to bars, concessions, offcial band and festival merch, and more!
                    li  Opportunity to purchase Camping Passes, sold separately after you purchase any S&R pass.
                    li Ability to purchase Add On's like Hotel and Camping Packages, Tickets to Thrusday Night Kickoff Party with Stu Allen & Mars Hotel and Rooster Conspiracy.
                p GA Plus holders enjoy all of the above GA benefits in addition to:
                ul
                    li Complimentary access to Thursday Night Kickoff Party. RSVP Required.
                    li Access to our S&R Lounge Tent inside the arena.
                    li Pit Access in front of both stages.
                    li VIP Viewing from Both Wall of Sound and Pigpen Stages with bleacher seating.
                    li Special Meet and Greet Opportunities, Interviews with Musicians, and Intimate Performances.
                    li Access to private cash bars.
                    li Air-conditioned restrooms.
                    li Complimentary Water
                    li Full Service bar.
                p You can learn more about our pass options and purchase by visiting SkullandRoses.com/passes
        li.accordition__item--title
            h4 lost and found
            .accordition__item--content
                p Visit the Guest Services near the main entrance during festival hours, October 3rd - 5th or visit
                    | skullandroses.com/lostfound (link will activate April 1st) to search for missing items or to file a claim
                    | for lost and found items at S&R.
                p Skull and Roses will not be held liable for any lost items. Skull and Roses will hold items through
                    | Monday April 6th at which point they will be turned over to the Ventura County Fairgrounds.
        li.accordition__item--title
            h4 box office information
            .accordition__item--content
                p The Skull & Roses Box Office will open 1 hour before gates Friday, Saturday, and Sunday and
                    | starting at 1 PM  on Thursday. A limited number of tickets will be available onsite and we strongly
                    | recommend that you purchase in advance at
                    strong SkullandRoses.com.
        li.accordition__item--title
            h4 festival map
            .accordition__item--content
                strong Stay Tuned for our 2020 Skull and Roses Map.
        li.accordition__item--title
            h4 allowed items
            .accordition__item--content
                ul
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
        li.accordition__item--title
            h4 projibited items
        li.accordition__item--title
            h4 ada accessibility
        li.accordition__item--title
            h4 safety at skull and roses
        li.accordition__item--title
            h4 security screening & entry
        li.accordition__item--title
            h4 exit and re-enrty
        li.accordition__item--title
            h4 locker rentals & mobile charging
        li.accordition__item--title
            h4 cash & credit cards
        li.accordition__item--title
            h4 lodging: purchase hotels with tour s&r pass
        li.accordition__item--title
            h4 lodging: purchase rv camping with tour s&r pass
        li.accordition__item--title
            h4 lodging: purchase tent camping with your s&r pass
        li.accordition__item--title
            h4 which airport should i fly into?
        li.accordition__item--title
            h4 thursday night's kickoff party details
        li.accordition__item--title
            h4 skull & roses schedule
        li.accordition__item--title
            h4 food options at s&r
        li.accordition__item--title
            h4 volunteer at skull & roses!
        li.accordition__item--title
            h4 can i bring my dog?
        li.accordition__item--title
            h4 youth tickets