include ../common/mixin
include ../common/variable

footer.footer
    .footer__container
        nav.footer__sns
            +sns("https://twitter.com/skullandrosesCA",                                                 "twitter")
            +sns("https://www.facebook.com/SkullandRoses4/",                                            "facebook")
            +sns("https://www.instagram.com/skullandrosesventura/",                                     "instagram")
            +sns("https://open.spotify.com/user/2stndhp7h8vqr62dl9bu254o2?si=VXVEx0-FTnKhfUwHYshVxw",   "noopener")
        nav.footer__nav
            ul
                if fileName == "contact"
                    li#contact__nav--item
                        a(href="./contact.html") contact
                else
                    +linkList("","","./contact.html","contact","nav__item")
                if fileName == "sponsors"
                    li#sponsors__nav--item
                        a(href="./sponsors.html") sponsors
                else
                    +linkList("","","./sponsors.html","sponsors","nav__item")
                if fileName == "conditions"
                    li#conditions__nav--item
                        a(href="./conditions.html") conditions
                else
                    +linkList("","","./conditions.html","terms and conditions","nav__item")
                +linkList("","","https://medium.com/@skullandroses","news","nav__item")
                +linkList("","","https://medium.com/@skullandroses/volunteer-at-s-r-2020-3627e39102c5","volunteer","nav__item")