include ../common/mixin
include ../common/variable

header.header
    nav
        ul.header__nav
            if fileName == "passes"
                li#passes__nav--item(class="header--nav--item")
                    a(href="./passes.html") passes
            else 
                li#side__nav--item(class="header--nav--item")
                    a(href="./passes.html") passes
            if fileName == "lineup"
                li#lineup__nav--item
                    a(href="./lineup.html") 2020 line up
            else
                +linkList("","","./lineup.html",    "2020 line up"  ,"nav__item")
            if fileName == "schedule"
                li#schedule__nav--item
                    a(href="./schedule.html") schedule
            else
                +linkList("","","./schedule.html",    "schedule"  ,"nav__item")
            h1.header__logo
                a(href="./index.html")
            +linkList("","","./experience.html","experience"    ,"nav__item")
            +linkList("","","./lodging.html",   "lodging"       ,"nav__item")
            +linkList("","","./faqs.html",      "faqs"          ,"nav__item")