include ../common/mixin
include ../common/variable

header.header
    nav
        ul.header__nav
            li.nav__item(class="header__nav--item")
                a(href="./passes.html") passes
            li.nav__item
                a(href="./lineup.html") 2020 line up
            li.nav__item
                a(href="./schedule.html") schedule
            h1.header__logo
                a(href="./index.html")
            li.nav__item
                a(href="./experience.html") experience 
            li.nav__item
                a(href="./lodging.html") lodging
            li.nav__item
                a(href="./faqs.html") faqs