include ../common/mixin
include ../common/variable

section.lineup
    +sectionTitle("2020 lineup")
    .lineup__grid
        +artistCard(
            "0",
            "#",
            "./images/artist/billy-kids-facebook-w600h600.jpg",
            "billy & the kids",
            "lineup__card"
        )
        +artistCard(
            "250",
            "#",
            "./images/artist/oteil-press-2-web-high-res-whitney-wangsgaard-w600h600.jpg",
            "oteil & friends",
            "lineup__card"
        )
        +artistCard(
            "500",
            "#",
            "./images/artist/voodoodeadpress-katie-fox-w600h600.png",
            "voodoo dead",
            "lineup__card"
        )
        +artistCard(
            "0",
            "#",
            "./images/artist/screen-shot-2020-03-04-at-8-25-09-pm-w600h600.png",
            "melvin seals & jgb",
            "lineup__card"
        )
        +artistCard(
            "250",
            "#",
            "./images/artist/jackiegreene-photo-14-mike-zak-w600h600.jpg",
            "jackie greene",
            "lineup__card"
        )
        +artistCard(
            "500",
            "#",
            "./images/artist/keller-williams-14-w600h600.jpg",
            "keller williams grateful grass",
            "lineup__card"
        )
        +artistCard(
            "0",
            "#",
            "./images/artist/catslogo-2019-w600h600.png",
            "circles around the sun",
            "lineup__card"
        )
        +artistCard(
            "250",
            "#",
            "./images/artist/webpnet-resizeimage-shelby-pfau-w600h600.jpg",
            "ghost light",
            "lineup__card"
        )
        +artistCard(
            "500",
            "#",
            "./images/artist/gratefulshredpressphoto-w600h600.jpg",
            "grateful shred",
            "lineup__card"
        )
        +artistCard(
            "0",
            "#",
            "./images/artist/screen-shot-2019-11-07-at-10-26-01-pm-w600h600.png",
            "david nelson band",
            "lineup__card"
        )
        +artistCard(
            "250",
            "#",
            "./images/artist/screen-shot-2019-11-09-at-9-38-08-am-w600h600.png",
            "stu allen & mars hotel",
            "lineup__card"
        )
        +artistCard(
            "500",
            "#",
            "./images/artist/rooster-profile-benjy-eisen-w600h600.jpg",
            "rooster conspiracy",
            "lineup__card"
        )
        +artistCard(
            "0",
            "#",
            "./images/artist/midnightnorth-june2018press-1-w600h600.jpg",
            "midnight north",
            "lineup__card"
        )
        +artistCard(
            "250",
            "#",
            "./images/artist/ptf-la-2orig-w600h600.jpg",
            "pink talking fish are dead",
            "lineup__card"
        )
        +artistCard(
            "500",
            "#",
            "./images/artist/cube-larry-nate-craig-sails-promo-w600h600.jpg",
            "cubensis",
            "lineup__card"
        )
        +artistCard(
            "0",
            "#",
            "./images/artist/full-band-1-w600h600.jpeg",
            "full moonalice",
            "lineup__card"
        )
        +artistCard(
            "250",
            "#",
            "./images/artist/screen-shot-2019-11-09-at-9-31-39-am-w600h600.png",
            "jerry's middle finger",
            "lineup__card"
        )
        +artistCard(
            "500",
            "#",
            "./images/artist/dh-press-pic-option-exo-tech-the-sultan-room-aug-2019-18-smaller-file-size-dave-harrington-w600h600.jpg",
            "dave harrington's merry pranksters",
            "lineup__card"
        )
        +artistCard(
            "0",
            "#",
            "./images/artist/image0-w600h600.jpeg",
            "big steve and the ass bites from hell",
            "lineup__card"
        )
        +artistCard(
            "250",
            "#",
            "./images/artist/2a9af75a-55f8-4aa0-bf58-ed379c039d80-w600h600.jpg",
            "the alligators",
            "lineup__card"
        )
        +artistCard(
            "500",
            "#",
            "./images/artist/screen-shot-2019-11-09-at-11-21-07-am-w600h600.png",
            "electric waste band",
            "lineup__card"
        )
        +artistCard(
            "0",
            "#",
            "./images/artist/20160305-8542-edit-w600h600.jpg",
            "roots of creation's grateful dub",
            "lineup__card"
        )
        +artistCard(
            "250",
            "#",
            "./images/artist/screen-shot-2019-11-09-at-9-34-02-am-w600h600.png",
            "marcus rezak's shred is dead",
            "lineup__card"
        )
        +artistCard(
            "500",
            "#",
            "./images/artist/img5345-w600h600.jpg",
            "xtra ticket feat. dave a'bear",
            "lineup__card"
        )
        +artistCard(
            "0",
            "#",
            "./images/artist/dgansofficial2018-david-gans-w600h600.jpg",
            "david gans",
            "lineup__card"
        )
        +artistCard(
            "250",
            "#",
            "./images/artist/band-marquee1-2019-john-reuter-w600h600.jpg",
            "the noodles",
            "lineup__card"
        )
        +artistCard(
            "500",
            "#",
            "./images/artist/cc-band-photo-w600h600.jpg",
            "china cats",
            "lineup__card"
        )
        +artistCard(
            "500",
            "#",
            "./images/artist/128715048792424088654613490183097512143389n-w600h600.png",
            "catfish john",
            "lineup__card"
        )