include ../common/mixin
include ../common/variable

section.schedule
    +sectionTitle("the schedule")
    p(
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="400"
    ) Schedule Will Be Announced At A Later Date...Check Back Soon!