include ../common/mixin
include ../common/variable

.side
    nav
        ul.side--nav
            h1.side__logo
                a(href="/")
            li#side__nav--item(class="side--nav--item")
                a(href="./passes") passes
            +linkList("","","./lineup.html",    "2020 line up", "side--nav--item")
            +linkList("","","./schedule","      schedule",      "side--nav--item")
            +linkList("","","./experience",     "experience",   "side--nav--item")
            +linkList("","","./lodging","       lodging",       "side--nav--item")
            +linkList("","","./faqs",           "faqs",         "side--nav--item")