include ../common/mixin
include ../common/variable

.side
    nav
        ul.side--nav
            h1.side__logo
                a(href="/")
            if fileName == "passes"
                li#passes__nav--item(class="side--nav--item")
                    a(href="./passes.html") passes
            else 
                li#side__nav--item(class="header--nav--item")
                    a(href="./passes.html") passes
            if fileName == "lineup"
                li#lineup__nav--item(class="side--nav--item")
                    a(href="./lineup.html") 2020 line up
            else
                +linkList("","","./lineup.html",    "2020 line up"  ,"side--nav--item")
            if fileName == "schedule"
                li#schedule__nav--item(class="side--nav--item")
                    a(href="./schedule.html") schedule
            else
                +linkList("","","./schedule.html","      schedule",      "side--nav--item")
            if fileName == "experience"
                li#experience__nav--item(class="side--nav--item")
                    a(href="./experience.html") experience
            else
                +linkList("","","./experience.html","      experience",      "side--nav--item")            
            +linkList("","","./lodging","       lodging",       "side--nav--item")
            +linkList("","","./faqs",           "faqs",         "side--nav--item")