include ../common/mixin
include ../common/variable

.side
    nav
        ul.side--nav
            h1.side__logo
                a(href="/")
            li#side__nav--item(class="side--nav--item")
                a(href="#") passes
            +linkList("","","#","2020 line up", "side--nav--item")
            +linkList("","","#","schedule",     "side--nav--item")
            +linkList("","","#","experience",   "side--nav--item")
            +linkList("","","#","lodging",      "side--nav--item")
            +linkList("","","#","faqs",         "side--nav--item")