include ../common/mixin
include ../common/variable

.side
    nav
        ul.side--nav
            h1.side__logo
                a(href="/")
            +linkList("","","#","passes")
            +linkList("","","#","2020 line up")
            +linkList("","","#","schedule")
            +linkList("","","#","experience")
            +linkList("","","#","lodging")
            +linkList("","","#","faqs")