<!DOCTYPE html>
html(lang="en")
    include ./views/partials/head
    body
        include ./views/import/header
        main
            include ./views/import/banner
            include ./views/import/artist
            include ./views/import/purchase
            include ./views/import/newslatter
        include ./views/import/footer
        include ./views/import/side
        include ./views/import/hamburger
    include ./views/partials/script